# Compiled Object files
*.slo
*.lo
*.o
*/bin/*

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Project files
.classpath
.cproject
.project
*/.settings/*
Graph/Debug/
Graph/Release/

# Data
ml/mlclass-ex3/ex3data1.mat
ml/mlclass-ex4/ex4data1.mat
ml/mlclass-ex7/ex7faces.mat

# Archives
*.zip
